body {
    background-color: #000;
    color: #fafafa;
    font-family: "Playfair Display", serif;
}

.hero-img {
    height: 25rem;
    width: 100%;
    background: url("../images/hero-img.webp") center center / cover no-repeat;
}

span {
    font-style: italic;
}